rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      // WARNING: This allows anyone to read/write your database.
      // Use this only for development.
      allow read, write: if true;
    }
  }
}